@charset "UTF-8";
@font-face {
    font-family: Titulo;
    src: url("../fonts/TiltPrism-Regular.ttf");
}
@font-face {
    font-family: Texto;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: Titulos;
    src: url("../fonts/Pangolin-Regular.ttf");
}
body p{
    text-align: justify;
    text-indent: 40px;
    font-family: sans-serif;
}
header#cabecalho{
    height: 150px;
}
header#cabecalho h1{
    font-family: 'Titulo';
    font-size: 30pt;
    position: absolute;
    left: 40px;
    top: 0px;
}
header#cabecalho img#imagem{
    position: absolute;
    width: 55px;
    height: 45px;
    left: 750px;
    top: 45px;
}
nav#navega ul{
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 770px;
}
nav#navega a{
    list-style: none;
    text-decoration: none;
    color: white;
}
nav#navega li:hover{
    background-color: #7b2c28;
    text-decoration: underline;
    color: white;
}
nav#navega li{
    font-family: 'Texto';
    display: inline-block;
    margin: 20px;
    font-size: 14pt;
    background-color: #460F0D;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 1px black;
}

section#sessao article h1{
    color: white;
    font-family: 'Titulos';
    background-color: #7b2c28;
    padding: 5px;
    border-radius: 3px;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    font-size: 18pt;
}
section#sessao img{
    margin-left: 850px;
    position: relative;
    width: 300px;
    padding: 10px;
    background-color: #330b09;
    border-radius: 5px;
}
footer#rodape{
    margin-top: 100px;
    clear: both;
}
footer#rodape h1{
    font-size: 12pt;
    font-family: 'Texto';
    text-align: center;
    background-color:#460F0D;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}
footer#rodape a{
    text-decoration: none;
    color: white;
}
footer#rodape a:hover{
    margin-left: 2px;
    margin-right: 2px;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    padding: 3px;
    border-radius: 5px;
    text-shadow: 0px 0px 0px black;
}