@charset "UTF-8";

@font-face {
    font-family: 'Fonte';
    src: url(Pangolin-Regular.ttf);
}
body input {
    font-family: 'Fonte';
    font-size: 15pt;
}
div#interface{
    width: 600px;
    height: 550px;
    background-image: linear-gradient(to bottom, #000000 30%, #b6afaf, #e0d7d7);
    margin: auto auto 0px auto;
    border-radius: 10px;

}

div#bloco {
    display: inline-block;
    width: 450px;
    height: 70px;
    border-radius: 5px;
    margin: 20px 75px auto 75px;
    background-color: #FFFFFF;
}
div#bloco-num {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-top: 55px;

}
div#bloco h1#num-tela{
    font-size: 25pt;
    position: relative;
    font-family: 'Fonte';
    left: 300px;
}
div#bloco h1#operador-tela{
    font-size: 25pt;
    position: relative;
    font-family: 'Fonte';
    left: 350px;
}
div#bloco h1#num2-tela{
    font-size: 25pt;
    position: relative;
    font-family: 'Fonte';
    left: 400px;
}
div#bloco-cal {
    display: inline-block;
    position: absolute;
    left: 800px;
    top: 165px;
}
h1#num input {
    color: white;
    background-color: black;
}
h1#num input.um{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;

}
h1#num input.dois{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.tres{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.quatro{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 180px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.calculos{
   display: inline-block;
   position: relative;
   width: 75px;
   height: 50px;
   border-radius: 5px;
   margin: 10px;
   left: 75px;
}
h1#num input:hover{
    color: black;
    background-color: white;
    text-decoration: underline;

}
h1#bloco-calculo input.calculos{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
h1#bloco-calculo input {
    color: white;
    background-color: #0b6583;
}
h1#bloco-calculo input:hover{
    color: white;
    background-color: rgb(8, 116, 116);
}