@charset "UTF-8";

@font-face {
    font-family: 'Fonte';
    src: url(Pangolin-Regular.ttf);
}
body input {
    font-family: 'Fonte';
    font-size: 15pt;
}
div#interface{
    width: 600px;
    height: 550px;
    background-image: linear-gradient(to bottom, #1a1818 10%, #606060, #e0d7d7);
    margin: auto auto 0px auto;
    border-radius: 10px;

}
h1.ins{
    position: absolute;
    left: 50px;
    top: 40px;
    font-family:'Courier New', Courier, monospace;

}
p.ins{
    position: absolute;
    left: 60px;
    top: 90px;
}

h1.fun{
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    left: 1050px;
    top: 40px;
}
p#cd{
    position: absolute;
    left: 1050px;
    top: 90px;
}
p#ba{
    position: absolute;
    left: 1050px;
    top: 160px;
}
p#divi{
    position: absolute;
    left: 1050px;
    top: 220px;
}
p#pot{
    position: absolute;
    left: 1050px;
    top: 300px;
}
div#bloco {
    display: inline-block;
    width: 450px;
    height: 70px;
    border-radius: 5px;
    margin: 20px 75px auto 75px;
    background-color: #FFFFFF;
}
div#bloco-num {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-top: 55px;

}
div#bloco h1#num1-tela{
    font-size: 25pt;
    position: relative;
    font-family: 'Fonte';
    left: 300px;
}
div#bloco h1#operador-tela{
    font-size: 25pt;
    position: absolute;
    font-family: 'Fonte';
    top: 28px;
    left: 790px;
}
div#bloco h1#num2-tela{
    font-size: 25pt;
    position: absolute;
    font-family: 'Fonte';
    left: 820px;
    top: 28px;
}
div#bloco h1#resultado{
    font-size: 25pt;
    position: absolute;
    font-family: 'Fonte';
    left: 840px;
    top: 28px;
}
div#bloco-cal {
    display: inline-block;
    position: absolute;
    left: 800px;
    top: 165px;
}
h1#num input {
    color: white;
    background-color: black;
}
h1#num input.um{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;

}
h1#num input.dois{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.tres{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 75px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.quatro{
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
    left: 180px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white;
}
h1#num input.calculos{
   display: inline-block;
   position: relative;
   width: 75px;
   height: 50px;
   border-radius: 5px;
   margin: 10px;
   left: 75px;
}
h1#num input:hover{
    color: black;
    background-color: white;
    text-decoration: underline;

}
h1#bloco-calculo input.calculos{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
h1#bloco-calculo input {
    color: white;
    background-color: #0b6583;
}
h1#bloco-calculo input:hover{
    color: white;
    background-color: rgb(8, 116, 116);
}

div#interface footer#rodape{
    clear: both;
    display: block;
    margin-top: 35px;
}

footer#rodape h1{
    color: white;
    background-color:rgb(8, 116, 116);
    border-radius: 5px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 15pt;
    text-align: center;
}

footer#rodape a{
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 2px black;
    padding: 5px;
}

footer#rodape a:hover{
    color: black;
    background-color: white;

}

